<?xml version="1.0" encoding="ISO-8859-1" ?>
<lbaas-config>
   
   <api-port>443</api-port>
   
   <admin-port>8889</admin-port>
   
   <keystore>keystore.jks</keystore>
   
   <keystorepwd>viken123</keystorepwd>
      
   <db-path>jdbc:mysql://localhost/lbaas</db-path>
   
   <db-driver>com.mysql.jdbc.Driver</db-driver>
   
   <db-user>lbaas</db-user>
   
   <db-pwd>lbaas</db-pwd>
   
   <db-valid-to>3</db-valid-to>
   
   <gearman-job-server-addr>localhost</gearman-job-server-addr>
   
   <gearman-job-server-port>4730</gearman-job-server-port>
      
</lbaas-config>
