<?xml version="1.0" encoding="ISO-8859-1" ?>
<!-- LBaaS API Server Configuration Settings                     -->
<lbaas-config>
   
   <!-- https port used to listen on the tenant facing API.      -->
   <!-- This is used on conjunction with the keystore for https. -->
   <!-- Normally this is the standard https port 443             -->
   <api-port>443</api-port>
   
   <!-- https port used to listen on  admin API                  -->
   <!-- the intent is that this API is not for tenant facing     -->
   <!-- operation. Used in conjunction with keystore             -->
   <admin-port>8889</admin-port>
   
   <!-- keystore certificate file used for both tenant and admin -->
   <!-- API servers                                              -->
   <keystore>keystore.jks</keystore>
   
   <!-- pwd for keystore                                         -->   
   <keystorepwd>viken123</keystorepwd>
      
   <!-- path for jdbc mysql connector                            -->
   <db-path>jdbc:mysql://localhost/lbaas</db-path>
   
   <!-- jdbc driver to use                                       -->
   <db-driver>com.mysql.jdbc.Driver</db-driver>
   
   <!-- db user name                                             -->
   <db-user>lbaas</db-user>
   
   <!-- db pwd                                                   -->
   <db-pwd>lbaas</db-pwd>
   
   <!-- jdbc db valid timeout value                              -->
   <db-valid-to>3</db-valid-to>
   
   <!-- gearman job server address                               -->
   <gearman-job-server-addr>localhost</gearman-job-server-addr>
   
   <!-- gearman job server port                                  -->
   <gearman-job-server-port>4730</gearman-job-server-port>
      
   <!-- keystone service id for this service                     -->
   <keystone-service-id>140</keystone-service-id>  
   
   <!-- keystone server VIP used for token validation            -->
   <keystone-server-vip>region-a.geo-1.identity-admin.hpcloudsvc.com</keystone-server-vip> 
   
   <!-- keystone server port                                     -->
   <keystone-server-port>9543</keystone-server-port> 
            
   <!-- keystore file for Keystone                               -->
   <keystone-keystore>keystone-keystore.jks</keystone-keystore>
   
   <!-- keystone keystore pwd                                    -->
   <keystone-keystorepwd>changeit</keystone-keystorepwd> 
   
   <!-- truststore file for keystore                             -->
   <keystone-truststore>keystone-truststore.jks</keystone-truststore> 
   
   <!-- keystone truststore pwd                                  -->
   <keystone-truststorepwd>changeit</keystone-truststorepwd> 
 
</lbaas-config>
